.portfolio-container {
  display: flex;
  //justify-content: space-between;

  .text-section {
    margin: 10%;

    .main-text {
      font-size: 35px;
      font-weight: 500;
      font-family: sans-serif;
      margin-left: 5%;
    }
    .intro-section {
      margin-left: 10%;
      border-left: 2px solid rgb(40, 117, 136);
      height: 150px;
    }
    .main-text-para {
      margin-left: 5%;
    }
  }
  .image-section {
   
    .sketch-image {
      width: 400px;
      height: 200px;
      
    }
    .image-description {
       display: block;  
       padding:10px;
    }
  }
}
