@import '../../App.scss';

.portfolio-container {
  display: flex;
  //justify-content: space-between;
  justify-content: center;

  .text-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 10%;

    .main-text {
      font-size: 35px;
      font-weight: 500;
      font-family: sans-serif;
      margin-left: 5%;
      color: $secondary-color;
    }
    .intro-section {
      margin-left: 5%;
      border-left: 2px solid rgb(40, 117, 136);
    }
    .main-text-para {
      margin-left: 5%;
      margin-bottom: 25px;
      font-size: 20px;
      font-family: 'Coolvetica';
    }
    .image-description {
      margin-left: 10%;
      margin-top: 20%;
      font-size: 20px;
      font-family: 'Coolvetica';
    }
    .left-para-description {
      font-size: 20px;
      font-family: 'Coolvetica';
      margin-top: 5%;
      margin-left: 5%;
    }
    .skill-info {
      margin-left: 9%;
      font-size: 20px;
      font-family: 'Coolvetica';
      margin-top: 10%;
    }
  }

  .ecommerce-image {
    height: auto;
    width: 650px;
    object-fit: cover;
    box-shadow: 5px 8px #809eac;
  }

  .image-section-ecommerce {
    margin-top: 10%;
    border-left: 2px solid rgb(40, 117, 136);
    height: 10%;
    padding: 15px;
  }
  .ecommerce-main-text {
    font-size: 35px;
    font-weight: 500;
    font-family: sans-serif;
    margin: 15px;
  }

  .navigation-btn {
    font-family: 'Quattrocento';
    background-color: rgba(245, 245, 245, 0);
    color: rgb(40, 117, 136);
    border: 1px solid #9a1750;
    margin-left: 30px;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    width: 85px;
    text-align: center;
  }
  .case-study-btn {
    margin-top: 30px;
    margin-left: 10px;
  }

  .ecommerce-text-para {
    margin: 2%;
    width: 75%;
    font-size: 20px;
    font-family: 'Coolvetica';
    color: $secondary-color;
  }

  .sketch-image-todoapp {
    width: 400px;
    height: auto;
    object-fit: cover;
    box-shadow: 5px 8px #809eac;
  }

  .todo-header {
    margin-top: 12%;
  }
  .todo-image-para {
    text-align: center;
  }
  .portfolio-header {
    margin-top: 20%;
  }
}
