@import '../../App.scss';
.container {
  display: flex;
  justify-content: space-evenly;

  .text-zone {
    margin-top: 7%;
    margin-left: 2%;
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: $secondary-color;
      font-weight: 400;
    }
    .contact-section {
      font-family: 'Merriweather';
      font-size: 30px;
    }
    .info-section {
      font-size: 20px;
      font-family: 'Merriweather';
    }
  }
  .primary-color {
    margin-top: 7%;
    color: $secondary-color;
  }
  .image-top {
    margin-top: 7%;
  }
  .site-info {
    margin-top: 5%;
    font-size: 24px;
    color: $secondary-color;
    font-family: 'Merriweather';
  }
  .copyright-info {
    font-size: 20px;
    font-family: 'Merriweather';
  }
  .navigation-btn {
    font-family: 'Coolvetica';
    letter-spacing: 2px;
    color: #9a1750;
    border: 1px solid rgb(40, 117, 136);
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    width: 105px;
    text-align: center;
  }
}
