@import '../../../App.scss';
.withoutposter-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  .hr-line {
    border: 1px solid $secondary-color;
    display: inline-block;
    width: 100px;
    margin-right: 40px;
  }
  .problem-para {
    font-size: 30px;
    text-transform: uppercase;
  }
  .content-text {
    width: 550px;
    font-size: 36px;
    color: $secondary-color;
  }
  .information {
    width: 550px;
    font-size: 20px;
  }

  .fidelity-sketch {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .sketch-image-margin {
    margin-top: 10%;
  }

  .study-image {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .color-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    .box {
      width: 150px;
      height: 105px;
      margin: 30px;
      box-shadow: 2px 5px #838383;
    }

    .box-1 {
      background-color: #777fe8;
    }

    .box-2 {
      background-color: #62cfcd;
    }

    .box-3 {
      background-color: #f7f8fa;
    }

    .box-4 {
      background-color: #aab0ff;
    }
  }
  .text-container {
    display: flex;
    justify-content: space-around;
  }
  .color-name {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }
}
