.casestudy-container {
  display: flex;

  .information-containter {
    margin-top: 10%;
    margin-left: 15%;
    width: 50%;
  }

  .image-containter {
    margin-right: 20px;
    margin-top: 10%;
    width: 50%;
  }
}
