@import '../../App.scss';

.casestudy-container {
  display: flex;
  margin-bottom: 5%;
  .information-containter {
    margin-top: 10%;
    margin-left: 15%;
    width: 50%;

    .project-title {
      font-weight: 900;
      font-size: 40px;
      color: $secondary-color;
      text-align: center;
      margin-right: 15%;
      transform: scale(1, 1.5);
    }
    p {
      font-size: 20px;
      font-weight: 200;
      margin-right: 15%;
      line-height: 36px;
    }
  }

  .image-containter {
    margin-right: 20px;
    margin-top: 10%;
    width: 50%;
  }
}

.rectangle {
  width: 60%;
  height: auto;
  margin: 0 auto;
  border: 1px solid $primary-color;

  .cotainer-data {
    display: flex;
    justify-content: space-evenly;
  }

  .title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    color: $secondary-color;
    text-align: center;
  }

  .information {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.4;
    text-align: center;
  }
}

.main-image {
  margin: 2%;
  display: flex;
  justify-content: center;
}

.navigation-container {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-navigation-container {
    margin-bottom: 5%;

    display: flex;
    justify-content: space-around;
    flex: 2;
    .navigation-text {
      text-transform: uppercase;
      h3 {
        text-decoration: underline;
      }
    }
  }
}

.withoutposter-container {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  .hr-line {
    border: 1px solid $secondary-color;
    display: inline-block;
    width: 100px;
    margin-right: 40px;
  }
  .problem-para {
    font-size: 30px;
    text-transform: uppercase;
  }
  .content-text {
    width: 550px;
    font-size: 36px;
    color: $secondary-color;
  }
  .information {
    width: 550px;
    font-size: 20px;
  }
}
